.grid-container {
    display: grid;
    /* display: flex; */
    gap: 0;
    /* width: 500px;
    height: 500px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.grid-item {
    background-color: #FEF1B7;
    aspect-ratio: 1;
}