.grid-container {
    display: grid;
    gap: 0;
    grid-template-columns: "1fr 1fr 1fr 1fr";
    max-width: 500px;
    max-height: 500px;
}

.grid-item {
    background-color: #FEF1B7;
    aspect-ratio: 1;
    opacity: 1;
}